@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #1b1b1b;
  font-family: 'Raleway', sans-serif;
}

button{
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid #23d997;
  padding: 1rem 2rem;
  margin: .7rem 0px;
  background:transparent;
  transition: all .4s ease-in-out;
  color: white;
  &:hover{
    background-color:#23d998 ;
    color: white;
  }
}

h3{
  font-size: 1.5rem;
}
